.expand-btn {
    margin-left: 1rem;
}

.expand-btn input {
    appearance: none;
    -webkit-appearance: none;
    pointer-events: none;
    display: block;
    outline: none;
}

.expand-btn label {
    background-color: var(--ui-bg-color);
    display: block;
    width: 4rem;
    height: 4rem;
}

.expand-btn label::after {
    content: '';
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-image: url("/svg/expand-arrow.svg");
    background-repeat: no-repeat;
    transform: rotateZ(180deg);
    transition: transform 500ms cubic-bezier(.09,.87,.38,1);
    background-size: cover;
}

.expand-btn input:checked ~ label::after {
    transform: rotateZ(0deg);
}